{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <div class="d-flex justify-content-center">
      <h1>Welcome</h1>
    </div>
    <p>
      Welcome to this software license management project! Here, we have created
      a CRUD application using Django to efficiently manage software licenses.
    </p>
    <div class="d-flex justify-content-center">
      <a class="nav-link" href="/license">
        <button class="btn btn-secondary">Start</button>
      </a>
    </div>
  </section>
</main>

{% endblock %}
