<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Software Licenses Manager</title>
  </head>
  <body>
    <h1>Licencias de Software</h1>
    <a href="/license/new_license/">Add</a>

    <!-- <form action="{% url 'create_license' %}" method="post">
      {% csrf_token %}

      <input type="text" name="companyName" placeholder="companyName" />
      <input type="text" name="userName" placeholder="userName" />
      <input type="text" name="jobTitle" placeholder="jobTitle" />
      <input type="text" name="email" placeholder="email" />
      <input
        type="text"
        name="softwareUserName"
        placeholder="softwareUserName"
      />
      <input type="text" name="version" placeholder="version" />
      <input type="date" name="expirationDate" />

      <button>Save</button>
    </form> -->

    <!-- {% for license in licenses %}
    <div>
      <h2>{{license.companyName}}</h2>
      <h3>{{license.userName}}</h3>
      <h3>{{license.email}}</h3>
      <h3>{{license.softwareUserName}}</h3>
      <h4>Expiration: {{license.expirationDate}}</h4>
      <h4>Version: {{license.version}}</h4>
      <form action="{% url 'delete_license' license.id %}" method="POST">
        {% csrf_token %}
        <button>Delete</button>
      </form>
      <a href="{% url 'update_license' license.id %}">
        <button>Update</button>
      </a>
    </div>

    {% empty %}
    <h1>No hay licencias registradas</h1>
    {% endfor %} -->
    <table>
      <tr>
        <th>Company</th>
        <th>User</th>
        <th>Email</th>
        <th>Username</th>
        <th>Expiration Date</th>
        <th>Version</th>
        <th></th>
        <th></th>
      </tr>
      {% for license in licenses %}
      <tr>
        <td>{{ license.companyName }}</td>
        <td>{{ license.userName }}</td>
        <td>{{ license.email }}</td>
        <td>{{ license.softwareUserName }}</td>
        <td>{{ license.expirationDate }}</td>
        <td>{{ license.version }}</td>
        <td>
          <a href="{% url 'update_license' license.id %}">
            <button>Update</button>
          </a>
        </td>
        <td>
          <form action="{% url 'delete_license' license.id %}" method="POST">
            {% csrf_token %}
            <button>Delete</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7">No hay licencias registradas</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
