{% extends 'base.html' %} {% block content %}
<section class="card">
  <div class="d-flex justify-content-center">
    <h1>Licencias de Software</h1>
  </div>
  <div class="d-flex justify-content-center m-2">
    <a href="/license/new_license/"
      ><button class="btn btn-dark">Add new license</button></a
    >
  </div>
  <table class="table table-secondary table-striped">
    <tr>
      <th>Company</th>
      <th>User</th>
      <th>Job Title</th>
      <th>Email</th>
      <th>Username</th>
      <th>Expiration Date</th>
      <th>Version</th>
      <th></th>
      <th></th>
    </tr>
    {% for license in licenses %}
    <tr>
      <td>{{ license.companyName }}</td>
      <td>{{ license.userName }}</td>
      <td>{{ license.jobTitle }}</td>
      <td>{{ license.email }}</td>
      <td>{{ license.softwareUserName }}</td>
      <td>{{ license.expirationDate }}</td>
      <td>{{ license.version }}</td>
      <td>
        <a href="{% url 'update_license' license.id %}">
          <button class="btn btn-secondary">Update</button>
        </a>
      </td>
      <td>
        <form action="{% url 'delete_license' license.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-dark">Delete</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">No hay licencias registradas</td>
    </tr>
    {% endfor %}
  </table>
</section>
{% endblock %}
